bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
.vs/
.idea/
*.DotSettings.user
!/Plugin.Sync/bin/Release/Plugin.Sync.dll
!/Plugin.Sync/bin/Release/deniszykov.WebSocketListener.dll
!/Plugin.Sync/bin/Release/module.json
/Plugin.Sync/HunterPie/
